{% extends "base-after.html" %}
{% block title %}
<title>logRobocon-编辑日志</title>
{% endblock %}
{% block content %}
    <form class="jumbotron" method="post" role="form">{% csrf_token %}
        <h2 class="centerText"><b>编辑日志</b></h2>
        {% if password_is_wrong %}
        <div class="alert alert-danger text-center">  
            <button type="button" class="close" data-dismiss="alert">×</button>  
            <h4>错误!</h4>用户名或密码错误  
        </div>  
        {% endif %}
        {% for field in logForm %}
        <div class="form-group">
            {{field}}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-default">
            提交
        </button>
    </form>
{% endblock %}
