{% extends "base-before.html" %}
{% block title %}
    <title>logRobocon-登录</title>
{% endblock %}
{% block content %}
    <form class="form-horizontal jumbotron" method="post" role="form">{% csrf_token %}
        <h2 class="centerText"><b>队员登录</b></h2>
        {% if password_is_wrong %}  
        <div class="alert alert-error">  
            <button type="button" class="close" data-dismiss="alert">×</button>  
            <h4>错误!</h4>用户名或密码错误  
        </div>  
        {% endif %}
        <div class="blank-50"></div>
        {% for field in userForm %}
        <div class="form-group">
            <div class="col-sm-12">
                {{field}}
            </div>
        </div>
        {% endfor %}
        <div class="blank-20"></div>
        <div class="form-group">
            <div class="col-sm-12">
                <a href="/blog/register" class="btn btn-success btn-full">
                    创建账户
                </a>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary btn-full">
                    登录
                </button>
            </div>
        </div>
        <div class="blank-50"></div>
    </form>
{% endblock %}