{% extends "base-after.html" %}
{% block title %}
    <title>logRobocon-调车日志</title>
{% endblock %}
{% block content %}
    <div class="jumbotron">
        <h2 class="centerText"><b>日志列表</b></h2>
        <div class="blank-20"></div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        简述
                    </th>
                    <th>
                        提交人
                    </th>
                    <th>
                        操作
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for log in object_list %}
                <tr class="{% if log.logGeneral == 'success' %} success {% elif log.logGeneral == 'warning' %} warning {% else %} danger {% endif %}">
                    <td>
                        <a href="/blog/logShow/?logId={{ log.id }}&page={{ page_obj.number }}">{{ log.id }}</a>
                    </td>
                    <td>
                        <a href="/blog/logShow/?logId={{ log.id }}&page={{ page_obj.number }}">{{ log.logTime|date:"Y-n-j, G:i" }}</a>
                    </td>
                    <td>
                        <a href="/blog/logShow/?logId={{ log.id }}&page={{ page_obj.number }}">{{ log.logStatus }}</a>
                    </td>
                    <td>
                        <a href="/blog/logShow/?logId={{ log.id }}&page={{ page_obj.number }}">{{ log.realName }}</a>
                    </td>
                    <td>
                        <a href="/blog/logEdit/?formState={{ log.id }}&page={{ page_obj.number }}">修改</a>
                        {% if user.is_superuser %}
                        <a url="/blog/logDelete/?formState={{ log.id }}&page={{ page_obj.number }}" class="delVerify">删除</a>
                        {% endif %}
                    </td>
                </tr>
                {% empty %}
                <div class="alert alert-warning alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                        ×
                    </button>
                    <h4>
                        你好！
                    </h4> <strong>亲爱的{{username}}，</strong>还没有任何日志喔 <a href="/blog/logEdit?formState=create" class="alert-link">点击添加</a>
                </div>
                {% endfor %}
            </tbody>
        </table>
        <ul class="pagination">
            {% if not page_obj.has_previous %}
            <li class="disabled">
                <a>Prev</a>
            </li>
            {% else %}
            <li>
                <a href="/blog/logList/?page={{page_obj.previous_page_number}}">Prev</a>
            </li>
            {% endif %}
            {% for pageIndex in page_obj.paginator.page_range %}
            <li {% if page_obj.number == pageIndex %} class="active" {% endif %}>
                <a href="/blog/logList/?page={{pageIndex}}">{{pageIndex}}</a>
            </li>
            {% endfor %}
            {% if not page_obj.has_next %}
            <li class="disabled">
                <a>Next</a>
            </li>
            {% else %}
            <li>
                <a href="/blog/logList/?page={{page_obj.next_page_number}}">Next</a>
            </li>
            {% endif %}
        </ul>
        <ul class="pagination btn-right">
            <li>
                <a href="/blog/logEdit?formState=create&page=1">添加</a>
            </li>
        </ul>
    </div>
{% endblock %}
