{% extends "base-before.html" %}
{% block title %}
    <title>logRobocon-注册</title>
{% endblock %}
{% block content %}
    <form class="form-horizontal jumbotron" method="post" role="form">{% csrf_token %}
        <h2 class="centerText"><b>队员注册</b></h2>
        {% if userForm.errors %}
        <h3 class="btn-right">请检查你的输入</h3>
        {% endif %}
        <div class="blank-50"></div>
        {% for field in userForm %}
        <div class="form-group">
            <div class="col-sm-12">
                {{field}}
            </div>
        </div>
        {% endfor %}
        <div class="blank-20"></div>
        <div class="form-group">
            <div class="col-sm-12">
                <button type="submit" onClick="check1();" class="btn btn-primary btn-full">
                    确认创建用户
                </button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <a href="/blog/login" class="btn btn-success btn-full">
                    已经有账户了？
                </a>
            </div>
        </div>
        <div class="blank"></div>
    </form>
{% endblock %}